# data analysis libraries
numpy==1.20             # force to use 1.20.0 to solve ta-lib issue
scipy
pandas
pandas-datareader

# technical analysis, indicator libraries
ta
ta-lib
bta-lib
pandas-ta
tulipy

# database connection, ORM
psycopg2
sqlalchemy

# broker API libraries
alpaca-trade-api
python-binance
tda-api
ib_insync
robin-stocks

# data providers
intrinio-sdk
polygon-api-client
iexfinance
yfinance
quandl
alpha-vantage
sec-edgar-downloader

# data providers - social media
tweepy                  # Python Twitter API Wrapper
psaw                    # Python Pushshift.io API Wrapper
praw                    # Python Reddit API Wrapper

# visualization
matplotlib
plotly
dash
mplfinance
jupyterlab
pillow

# backtesting
backtrader
pyalgotrade
bt

# portfolio, performance analysis
pyfolio
finquant

# web frameworks and extensions
fastapi
flask
flask-cors
flask-login
flask-sqlalchemy
itsdangerous
aiofiles
chalice

# servers, task queue
uvicorn
gunicorn
celery

# networking
requests
boto3
urllib3
websocket-client
websockets

# other data stores, formats
redis
h5py

# utilities
beautifulsoup4
pendulum
click
passlib

# machine learning
# tensorflow        # to fix ta-lib/numpy issue numpy==1.20.0 needed and tf requires 1.19.2
scikit-learn
keras
# torch             # error when trying to install
opencv-python